.container {
    position: relative;
    height: 40px;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container.disabled {
    pointer-events: none;
}

.container.disabled .text {
    color: #A0A0A0;
}

.text {
    color: #e0e0e0;
    z-index: 2;
    padding-top: 3px;
}

.bg {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;

    background-image: url("../../assets/resource/textures/gui/widgets.png");
    background-size: cover;
    background-size: 512px 512px;

    image-rendering: pixelated;

    overflow: hidden;
}
.bg.bgLeft {
    background-position: top -132px left 0;
    left: 0;
    width: 51%;
}
.bg.bgRight {
    background-position: top -132px right -112px;
    right: 0
}

.container:hover .bg.bgLeft {
    background-position: top -172px left 0;

}
.container:hover .bg.bgRight {
    background-position: top -172px right -112px;
}

.container.disabled .bg.bgLeft {
    background-position: top -92px left 0;

}
.container.disabled .bg.bgRight {
    background-position: top -92px right -112px;
}