.container {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0px 5px 5px #000 inset, 0px -5px 5px #000 inset;
    overscroll-behavior: none;
}

.content {
    position: relative;
    min-height: 100%;
}

.container::-webkit-scrollbar {
    width: 12px;
}
   
.container::-webkit-scrollbar-track {
    background-color: black;
    width:12px;
}

.container::-webkit-scrollbar-thumb {
    background-color: #bbb;
    box-shadow: #777 -2px -2px 0 0 inset;
    width:12px;
}