body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  image-rendering: pixelated;
}

* {
  margin: 0;
  padding: 0;
}

p {
  color: white;
}
