.background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../assets/resource/textures/gui/options_background.png');
    background-size: 64px;
    image-rendering: pixelated;
    filter: brightness(0.25);
    z-index: -1;
}